@use "../Variables/Variables";

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  display: flex;
  width: 150px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  background-color: var(--PRIMARY_COLOUR);
  color: var(--TEXT_COLOUR);
  font-size: var(--FONT_SIZE);
  font-family: var(--FONT);

  body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  .container {
    display: flex;
  }

  main {
    width: 100%;
    padding: 20px;
  }

  a {
    color: var(--TEXT_COLOUR);
    font-size: var(--FONT_SIZE);
    text-decoration: none;
  }

  a.active {
    background-color: lightblue;
    color: black;
  }

  .sidebarmenu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 30px 6px 0px;
  }

  .link {
    padding: 10px 15px;
    transition: all 0.5s;
  }

  .link:hover .loginButton:hover {
    background-color: lightblue;
    color: black;
    border-radius: 4px;
  }

  .loginButton {
    display: flex;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    margin-bottom: 30px;

    a.active {
      background-color: bisque;
      color: black;
      border-radius: 4px;
    }
  }
}
