$BlackColor: rgb(31, 30, 30);
$WhiteColor: rgb(231, 226, 226);

// Colors
$PRIMARY_COLOUR: #007bff;
$SECONDARY_COLOUR: #507da4;
$TEXT_COLOUR: #333;

// Font sizes
$SMALL-FONT_SIZE: 14px;
$MEDIUM-FONT_SIZE: 16px;
$LARGE-FONT_SIZE: 18px;

// Font family
$FONT: "Arial";
