$BlackColor: rgb(31, 30, 30);
$WhiteColor: rgb(231, 226, 226);

// Colors
$PRIMARY_COLOUR: #b6d7fb;
$SECONDARY_COLOUR: #636567;
$TEXT_COLOUR: #080808;

// Font sizes
$FONT_SIZE: 26px;

// Font family
$FONT: "Arial";
