@use "../../Variables/Variables.css";

.header {
  color: var(--TEXT_COLOUR);
  font-size: var(--FONT_SIZE);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p button {
    font-family: var(--FONT);
  }

  button {
    cursor: pointer;
    width: 100%;
    padding: 12px 14px;
    border: none;
    background-color: transparent;
    color: var(--TEXT_COLOUR);
    font-size: var(--FONT_SIZE);
    font-family: var(--FONT);
  }

  button:hover {
    color: var(--PRIMARY_COLOUR);
  }
}
